body {
    background-color: yellow;
}

.text{
    color:#d41d1d;
}

.box{
    width: 250px;
    height: 250px;
    background-color: brown;
    position: relative;
    float: left;
    /* display: inline-block; */
    padding: 20px 50px 50px 30px;

}
.box--orange{

    background-color: orange;
    margin-left: -40px;
    margin-top: 40px;
    z-index: -1;
    padding-left: 50px;
    
}
.box--gold{
    background-color: gold;
    position: absolute;
    left: 150px;
    top: 250px;
    z-index: 1;

}
.eat {
    color:chocolate;
}
#special {
    color: cyan;

}
.drink {
    color: darkblue;
}